/*COLOR CLASS*/
$color-white: #fff;
$color-blue: #002D40;

.color-white {
  color: $color-white;
}

.color-blue {
  color: $color-blue;
}

.bg-white {
  background-color: $color-white;
}

.bg-blue {
  background-color: $color-blue;
}

body {
  margin: 0px;
  background-color: #fff;
}

.idea-parraf {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.info-time {
  display: flex;
  flex-direction: column;

  .title-blue {
    margin: 0px;
    color: #092F42;
  }

  .border-title {
    border-bottom: 3px solid #F3687B;
    width: 205px;
  }

  div:last-child {
    display: flex;
    flex-direction: row;

    .info-column {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;

      .time-blue {
        color: #002A36;
      }

      .description-blue {
        color: #062633;
      }
    }
  }
}

.tag-blue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85px;
  width: 170px;
  background-color: #002D40;

  p, i {
    color: #fff;
    margin: 0px;
  }
}

.conexiones {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 35px;

  .box-conexiones {
    width: 170px;
    margin: auto;
  }

  p {
    font-size: 20px;
  }
}

.app-develops {
  display: flex;
  flex-direction: row;
  padding: 5%;

  .box-text {
    flex: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .text {
      width: 800px;
    }

    p {
      font-size: 20px;
    }

    p:nth-child(4) {
      font-weight: bold;
    }

    h2 {

      border-bottom: 3px solid #F3687B;
      width: 480px;
    }
  }

  .box-img {
    flex: 30%;
  }
}

.footer {
  display: flex;
  flex: 1;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  max-height: 90px;

  p {
    font-size: 12px;
  }

  .direction {
    flex: 25%;
  }

  .network {
    flex: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .vinco {
    flex: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end
  }
}
