/*COLOR CLASS*/
$color-white: #fff;
$color-blue: #002D40;

.color-white {
  color: $color-white;
}

.color-blue {
  color: $color-blue;
}

.bg-white {
  background-color: $color-white;
}

.bg-blue {
  background-color: $color-blue;
}

//General Styles
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700+Combo|Comfortaa:400,700');

//Fonts
$font-roboto: 'Roboto', sans-serif;
$font-confortaa: 'Comfortaa';

body {
  font-family: $font-roboto;
  margin: 0px;
  background-color: #fff;
}

.idea-parraf {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

img {
  max-width: 100%;
}

.text-indent-10 {
  text-indent: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 5%;
  box-sizing: border-box;
}

.content-row {
  display: flex;
  flex-direction: row;
  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.title {
  padding: 20px 0 40px;
  h2 {
    font-family: $font-confortaa;
    font-weight: 700;
    margin: 0;
    display: inline-block;
    padding: 0 60px 10px 0;
    border-bottom: solid 2px red;
    font-size: 2.45em;
    @media (max-width: 600px) {
      font-size: 1.4em;
    }
  }
}

.subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 60px;
  margin-bottom: 30px;
  position: relative;
  &:before, &:after {
    content: '';
    position: absolute;
    width: 0;
  }

  &:before {
    top: 0;
    right: 0;
  }

  &:after {
    bottom: 0;
    left: 0;
  }
  span {
    display: block;
    font-size: 18px;
    font-weight: 700;
  }
}

.data-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  h4 {
    font-size: 20px;
    margin: 0 20px;
    font-weight: 700;
  }
  p {
    font-size: 16px;
    text-align: center;
    padding: 20px;
  }
  &--border {
    width: 100%;
    border-right: solid 1px #fff;
    text-align: center;
    @media (max-width: 600px) {
      border: 0;
    }
  }
}

.slide-blue {
  background-color: #002e40;
  .title {
    h2 {
      color: #fff;
    }
  }
  .subtitle{
    background: #fff;
    &:before {
      border-top: 20px solid #002e40;
      border-left: 20px solid #fff;
    }
    &:after {
      border-top: 20px solid #fff;
      border-left: 20px solid #002e40;
    }
    span {
      color: #002e40;
      font-weight: bold;
    }
  }
  h4, p {
      color: #fff;
  }
}

.slide-white {
  .title {
    h2 {
      color: #092f42;
    }
  }
  .subtitle {
    background-color: #002e40;
    &:before {
      border-top: 20px solid #fff;
      border-left: 20px solid #002e40;
    }
    &:after {
      border-top: 20px solid #002e40;
      border-left: 20px solid #fff;
    }
    span {
      color: #fff;
    }
  }

  h4, p {
      color: #092f42;
  }
}

.info-time {
  display: flex;
  flex-direction: column;

  .title-blue {
    margin: 0px;
    color: #092F42;
  }

  .border-title {
    border-bottom: 3px solid #F3687B;
    width: 205px;
  }

  div:last-child {
    display: flex;
    flex-direction: row;

    .info-column {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;

      .time-blue {
        color: #002A36;
      }

      .description-blue {
        color: #062633;
      }
    }
  }
}

.tag-blue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85px;
  width: 170px;
  background-color: #002D40;
  margin-bottom: 30px;

  p, i {
    color: #fff;
    margin: 0px;
  }
}

.conexiones {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 35px;

  .box-conexiones {
    width: 170px;
    margin: auto;
  }

  p {
    font-size: 20px;
  }
}

.app-develops {
  display: flex;
  flex-direction: row;
  padding: 5%;

  .box-text {
    flex: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .text {
      width: 800px;
    }

    p {
      font-size: 20px;
    }

    p:nth-child(4) {
      font-weight: bold;
    }

    h2 {

      border-bottom: 3px solid #F3687B;
      width: 480px;
    }
  }

  .box-img {
    flex: 30%;
  }
}

.footer {
  display: flex;
  flex: 1;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  max-height: 90px;

  p {
    font-size: 12px;
  }

  .direction {
    flex: 25%;
  }

  .network {
    flex: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .vinco {
    flex: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end
  }
}
