//General Styles
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700+Combo|Comfortaa:400,700');

//Fonts
$font-roboto: 'Roboto', sans-serif;
$font-confortaa: 'Comfortaa';

/*COLOR CLASS*/
$color-white: #fff;
$color-primary: #002D40;
$color-secondary: #d92f47;


body {
  font-family: $font-roboto;
  margin: 0px;
  background-color: $color-white;
}

img {
  max-width: 100%;
}

p{
  margin: 0;
}

.text-center {
  text-align: center;
}

.text-indent-10 {
  text-indent: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 2% 5%;
  box-sizing: border-box;
}

.content-row {
  display: flex;
  flex-direction: row;
  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.title {
  padding: 20px 0 40px;
  h2 {
    font-family: $font-confortaa;
    font-weight: 700;
    margin: 0;
    display: inline-block;
    padding: 0 60px 10px 0;
    border-bottom: solid 2px red;
    font-size: 2.20em;
    text-transform: uppercase;
    @media (max-width: 600px) {
      font-size: 1.4em;
    }
  }
}

.subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 75px;
  margin-bottom: 30px;
  position: relative;
  &:before, &:after {
    content: '';
    position: absolute;
    width: 0;
  }

  &:before {
    top: 0;
    right: 0;
  }

  &:after {
    bottom: 0;
    left: 0;
  }

  span {
    display: block;
    font-size: 20px;
    font-weight: 700;
    @media (max-width: 600px) {
      font-size: 18px;
    }
  }
}

.data-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  @media (max-width: 600px) {
    margin-bottom: 50px;
  }
  h4 {
    font-size: 26px;
    margin: 0 20px;
    font-weight: 700;
    @media (max-width: 600px) {
      font-size: 20px;
    }
  }
  p {
    font-size: 20px;
    padding: 20px;
    @media (max-width: 600px) {
      font-size: 17px;
    }
  }
  .description {
    text-align: center;
  }
  &--border {
    width: 100%;
    border-right: solid 1px $color-white;
    text-align: center;
    @media (max-width: 800px) {
      border: 0;
    }
  }
}

.slide {
  &-blue {
    background-color: $color-primary;
    .title {
      h2 {
        color: $color-white;
      }
    }
    .subtitle{
      background: $color-white;
      &:before {
        border-top: 20px solid $color-primary;
        border-left: 20px solid $color-white;
      }
      &:after {
        border-top: 20px solid $color-white;
        border-left: 20px solid $color-primary;
      }
      span {
        color: $color-primary;
      }
    }
    h4, p {
        color: $color-white;
    }
  }
  &-white {
    .title {
      h2 {
        color: #092f42;
      }
    }
    .subtitle {
      background-color: $color-primary;
      &:before {
        border-top: 20px solid $color-white;
        border-left: 20px solid $color-primary;
      }
      &:after {
        border-top: 20px solid $color-primary;
        border-left: 20px solid $color-white;
      }
      span {
        color: $color-white;
      }
    }

    h4, p {
        color: #092f42;
    }
  }
}

.main-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2% 5%;
  p {
    max-width: 1000px;
    font-size: 26px;
    margin: 20px 0;
    font-weight: 700;
    @media (max-width: 600px) {
      font-size: 18px;
    }
  }
}

.slide-center {
  text-align: center;
  justify-content: center;
  align-items: center;

  p {
    font-size: 20px;
    @media (max-width: 600px) {
      font-size: 17px;
    }
  }
}

.app-develops {
  flex-direction: row;
  @media (max-width: 992px) {
    flex-direction: column;
  }
  .box-text {
    flex: 70%;
    display: flex;
    flex-direction: row;

    p {
      font-size: 20px;
      margin-bottom: 20px;
      @media (max-width: 992px) {
        font-size: 17px;
      }

    }
  }

  .box-img {
    flex: 30%;
    @media (max-width: 992px) {
      margin: 40px 0;
    }
  }
}

.separator {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: transparent;
  overflow: hidden;
  &:after, &:before {
    content: "";
    display: block;
    width: 8000px;
    position: absolute;
    left: 50%;
    margin-left: -4000px;
    transform: rotate(-3deg);
  }

  &:after {
    height: 130px;
    z-index: 1;
    background-color: $color-primary;
  }

  &:before {
    background-color: $color-secondary;
    height: 5px;
    border-top: solid 5px $color-secondary;
    z-index: 2;
  }
  &-top {
    top: 1px;
    padding-top: 130px;
    &:after, &:before {
      transform: rotate(-3deg);
    }

    &:after {
      bottom: -50%;
    }

    &:before {
      top: 64px;
      box-shadow: 0px -3px 11px 0px rgba(50, 50, 50, 0.75);
    }
  }

  &-bottom {
    top: -1px;
    padding-bottom: 130px;
    &:after, &:before {
      transform: rotate(-3deg);
    }
    &::after {
      bottom: 50%;
    }
    &::before {
      bottom: 63px;
      box-shadow: 0px -2px 11px 8px rgba(50, 50, 50, 0.75)
    }
  }
}

.footer {
  display: flex;
  flex: 1;
  background-color: $color-white;
  padding: 2% 5%;
  span, a {
    font-size: 16px;
    font-weight: 500;
    display: block;
    color: $color-primary;
  }

  a {
    display: inline-block;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  @media (max-width: 600px) {
    padding: 5%;
    flex-direction: column;
    span, a{
      font-size: 14px;
    }
  }

  .address {
    flex: 30%;
    @media (max-width: 1024px) {
      flex: 50%;
    }
    @media (max-width: 600px) {
      margin-bottom: 30px;
    }
  }

  .network {
    flex: 70%;
    display: flex;
    flex-direction: column;
    @media (max-width: 1024px) {
      flex: 50%;
    }
    @media (max-width: 600px) {
      flex-direction: row;
    }
  }

  .vinco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 600px) {
      align-items: flex-end;
    }
  }
}
